* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body {
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    background-image: url("../images/robert-zunikoff-ebno_NwaOns-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#greeting {
    text-align: center;
    background-color: black;
    opacity: 0.9;
    color: white;
    padding: 1.25rem 1.25rem;
    border-radius: 1.5rem;
}

.name {
    color:lightsteelblue;
}

.aboutsection {
    background-color: whitesmoke;
    height: 100vh;
}